@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-ghost-dark text-ghost-light font-sans overflow-x-hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-ghost-dark;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-ghost-muted rounded-full hover:bg-ghost-accent transition-colors;
  }
}

@layer utilities {
  .text-glow {
    text-shadow: 0 0 10px rgba(0, 243, 255, 0.5);
  }

  .box-glow {
    box-shadow: 0 0 20px rgba(112, 0, 255, 0.2);
  }
}